<div class="header">
  <a class="logo" (click)="goHome()">Tate Blog</a>
  <div class="header-right">
    @if (!hideThreats) {
      <a class="active" (click)="threaten()">Send Death Threats to Author</a>
    }
    @if (isAuthenticated && !hideAdmin && !hideButtons) {
      <a class="active" (click)="admin()">Admin</a>
    }
    @if (isAuthenticated && !hideButtons) {
      <a class="active" (click)="logout()">Log Out</a>
    }
    @else if (!isAuthenticated && !hideButtons) {
      <a class="active" (click)="login()">Log In</a>
    }
  </div>
</div>
