<app-header [hideAdmin]="true"></app-header>
<div>
  <a (click)="toggleNewPost()">New Post</a>
  @if (newPostOpen) {
    <app-new-post></app-new-post>
  }
  <br>
  <a (click)="toggleEdit()">Edit Post</a>
  @if (editOpen) {
    <app-edit-post></app-edit-post>
  }
  <br>
  <a (click)="toggleDelete()">Delete Post</a>
  @if (deleteOpen) {
    <app-delete-post></app-delete-post>
  }
  <br>
  <a (click)="toggleThreats()">View Threats</a>
  @if (threatsOpen) {
    <app-view-threats></app-view-threats>
  }
</div>
