<app-header></app-header>
<div class="admin-container">
  <mat-tab-group>
    <mat-tab label="New Post">
      <div class="tab-contents">
        <app-new-post></app-new-post>
      </div>
    </mat-tab>
    <mat-tab label="Edit Post">
      <div class="tab-contents">
        <app-edit-post></app-edit-post>
      </div>
    </mat-tab>
    <mat-tab label="Delete Post">
      <div class="tab-contents">
        <app-delete-post></app-delete-post>
      </div>
    </mat-tab>
    <mat-tab label="View Threats">
      <div class="tab-contents">
        <app-view-threats></app-view-threats>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
