<div>
  @if (!selectedPost) {
    @for (post of posts; track $index) {
      <div>
        @if (post.title.length < 50) {
          <span>{{post.title}} {{post.date | timestampToDate}} </span>
        } @else {
          <span>{{post.title.slice(0, 50)}}... {{post.date | timestampToDate}} </span>
        }
        <a (click)="selectPost(post)">Edit Post</a>
      </div>
    }
  }
  @else {
    <form [formGroup]="postForm" (ngSubmit)="submitEditPost()">
      <div>
        <label for="title">Title:</label>
        <input id="title" formControlName="title" type="title">
      </div>
      <div>
        <label for="body">Body:</label>
        <textarea id="body" formControlName="body" type="body"></textarea>
      </div>
      <button type="submit" [disabled]="!postForm.valid">Submit</button>
    </form>
  }
</div>
