<div>
  @if (!currentDraft) {
    @if (drafts.length === 0) {
      <div>You do not have any drafts saved</div>
    } @else {
      <div class="formContainer">
        @for (draft of drafts; track $index) {
          <div>
            @if (draft.title.length < 50) {
              <span
                ><span class="title">{{
                  draft.title || (draft.date | timestampToDate)
                }}</span>
              </span>
            } @else {
              <span
                ><span class="title">{{ draft.title.slice(0, 50) }}...</span>
              </span>
            }
            <br />
            <a
              (click)="openDraft(draft)"
              class="edit"
              (keydown)="openDraft(draft)"
              tabindex="{0}"
              >Edit Draft</a
            >
          </div>
          <hr />
        }
      </div>
    }
  } @else {
    <div class="formContainer">
      <a
        (click)="goBack()"
        class="backButton"
        tabindex="0"
        (keydown)="goBack()"
      >
        <span class="arrow">&lt;</span> Back
      </a>
      <a
        (click)="deleteDraft()"
        class="deleteButton"
        tabindex="0"
        (keydown)="deleteDraft()"
      >
        Delete Draft
      </a>
      <br />
      <div class="autosave">{{ autosaveText }}</div>
      <form [formGroup]="draftForm" (ngSubmit)="submitEditDraft()">
        <div class="titleContainer">
          <span class="formTitle">
            <i class="pencil-icon"></i>
            <label for="title">&nbsp;Title:</label>
          </span>
          <input
            id="title"
            formControlName="title"
            type="text"
            placeholder="Title"
          />
        </div>
        <div class="titleContainer">
          <span class="formTitle">
            <i class="image-icon"></i>
            <label for="image">&nbsp;Image:</label>
          </span>
          <input
            type="file"
            id="image"
            formControlName="image"
            (change)="onFileSelected($event)"
          />
          @if (imageUrl) {
            Image Url: {{ imageUrl }}
          }
        </div>
        <div class="bodyContainer">
          <span class="formTitle">
            <i class="pencil-icon"></i>
            <label for="body">&nbsp;Body:</label>
          </span>
          <textarea
            id="body"
            formControlName="body"
            type="body"
            placeholder="Type here"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="55"
          >
          </textarea>
        </div>
        <button
          type="submit"
          [class.disabled]="!isDraftValid()"
          [disabled]="!isDraftValid()"
        >
          Save Draft
        </button>
        <span class="spacer"></span>
        <button
          class="publishButton"
          [class.disabled]="!draftForm.valid || autosaving"
          [disabled]="!draftForm.valid || autosaving"
          (click)="publishDraft($event)"
        >
          Publish Take
        </button>
      </form>
    </div>
  }
</div>
