@import "../../variables.scss";
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  max-width: 55%;
  margin: auto;
  margin-top: 20px;
  overflow-wrap: break-word;
  background-color: #fff;
  border: 5px solid;
  padding: 5px;
  margin-bottom: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
  border-radius: 5px 5px 0 0;
}

.title {
  color: $TateTakes-Red;
  font-size: 25px;
  font-weight: 500;
  margin-left: 10px;
}

.date {
  color: $TateTakes-Blue;
  font-size: 16px;
  margin-left: 20px;
}

.readMore {
  color: $TateTakes-Red;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 15px;
  margin-bottom: 15px;
}

#comments {
  margin-left: 5px;
  color: $TateTakes-Blue;
}
