<div class="card" [ngStyle]="{ 'border-color': colors[index % colors.length] }">
  <span
    class="title hoverable"
    tabindex="0"
    (click)="expand()"
    (keydown)="expand()"
  >
    {{ post.title }}
  </span>
  <p class="date">
    {{ post.date | timestampToDate: "date-only" }}
  </p>
  <hr />
  <div class="container">
    @if (post.image && imageFound) {
      <div>
        <img
          class="postImage"
          [src]="post.image"
          (error)="imageError()"
          alt="Post Image"
        />
        <br />
        <a
          class="imageLink"
          [href]="post.image"
          target="_blank"
          rel="noopener noreferrer"
          tabindex="{0}"
          >Full Sized Image</a
        >
        <hr />
      </div>
    }
    <span [innerHTML]="textToShow"></span>
    @if (post.body.length > 700) {
      <a
        class="readMore hoverable"
        (click)="expand()"
        (keydown)="expand()"
        tabindex="{0}"
      >
        Read More</a
      >
    }
  </div>
  <hr />
  <a
    id="comments"
    class="hoverable"
    (click)="showComments()"
    (keydown)="showComments()"
    tabindex="{0}"
  >
    {{ commentCount === 0 ? "Leave a comment" : commentCount + " comment"
    }}{{ commentCount > 1 ? "s" : "" }}
  </a>
</div>
