<div class="card"
     [ngStyle]="{'border-color': colors[index % colors.length]}">
  <h1 class="title">
    {{post.title}}
  </h1>
  <p class="date">
    {{post.date | timestampToDate:'date-only'}}
  </p>
  <hr>
  <div class="container">
    @if (post.image && imageFound) {
      <div>
        <img class="postImage" [src]="post.image" (error)="imageError()">
        <br>
        <a class="imageLink" [href]="post.image" target="_blank" rel="noopener noreferrer">Full Sized Image</a>
        <hr>
      </div>
    }
    <span [innerHTML]="textToShow"></span>
    @if (post.body.length > 700) {
      <a class="readMore" (click)="expand()"> Read More</a>
    }
  </div>
  <hr>
  @if (commentCount === 0) {
    <a id="comments" (click)="showComments()">Leave a comment</a>
  } @else {
    <a id="comments" (click)="showComments()">{{commentCount}} comments</a>
  }
</div>
