@import "../../../variables.scss";

.container {
  width: 50%;
  margin: auto;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  background-color: $TateTakes-Yellow;
}

.delete {
  text-decoration: underline;
  font-weight: 400;
  color: $TateTakes-Red;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 15px;
  margin-bottom: 15px;
}

.title {
  color: $TateTakes-Blue;
}
